.detalhesProdutos{
    display: flex;
    gap: 20px;
    width: 800px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;

}

.detalhesProdutos img{
    margin-top: 40px;
    width: 300px;
    padding: 15px;
}