.detalhesProudos{
    display: flex;
    width: 800px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;

}

#img_id{
    margin-top: 5px;
    width: 200px;
    padding: 15px;

}
#description{
    text-align: left;
    padding: 5px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: rgb(201, 199, 199);
}

