@import 'normalize.css';

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin: 0; 
    background:#f7f4f4
}

#topo {
    height: 50px;
    background-color: coral;
}

.produtosFetch {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
}

.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    border: 0.1px solid slategrey;
    border-radius: 8px;
    width: 80%;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in-out;
    background-color: white;
}

.produtos:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.produtosFetch img {
    width: 180px;
    height: 250px;
}

#title {
    padding: 3px;
    height: 40px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgb(220, 237, 250);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#price {
    text-align: center;
    background-color: rgb(255, 151, 53);
    font-size: 20px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100px;
}